<div class="modal-dialog" data-pg-component="dialog-intro">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" style="color: rgba(255, 255, 255, 0.85);font-weight: normal;line-height: 1.33;">Purchase &amp; Activate</h4>
        </div>
        <div class="modal-body">
            <section class="intro-band hide">
                <p class="lead">Hi, there! Pinegrow can become your best time-saving friend. Take it for a spin and then get a copy for yourself.</p>
            </section>
            <section>
                <p class="lead ">Hi, there! Thanks for using Pinegrow.</p>
            </section>
            <section class="intro-section-buy-done">
                <h3>1. Pinegrow license bought<span class="glyphicon glyphicon-ok done-icon"></span><small>Thanks!</small></h3>
            </section>
            <section class="intro-section-trial-active">
                <h3>Trial version activated!&nbsp;<small></small></h3>
                <p>Visit <a href="http://docs.pinegrow.com" class="external">Documentation &amp; Support portal</a> to learn more about how Pinegrow can make your work easier.</p>
            </section>
            <section class="intro-section-3trial-active">
                <h3>1. Trial version<span class="trial-days-left">3 days left</span>&nbsp;<small style="display:none;"><a>Why only three days?</a></small></h3>
                <p>Visit <a href="http://docs.pinegrow.com" class="external">Documentation &amp; Support portal</a> to learn more about how Pinegrow can make your work easier.</p>
            </section>
            <section class="intro-section-trial1">
                <h3>1. Start trial&nbsp;<small>Step 1 of 2 - Validate email</small></h3>
                <p>Enter your email to start the trial.</p>
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <label class="control-label sr-only" for="trialEmail">Email address</label>
                        <div>
                            <input type="text" class="form-control intro-inline-input" id="trialEmail" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-refresh fa-spin" style="display: none;"></i>&nbsp;Get the Trial Key&nbsp;
                            </button>
                            <button class="btn btn-link have-key">Already have the key</button>
                        </div>
                    </div>
                </form>
                <p class="text-danger">Form help block</p>
            </section>
            <section class="intro-section-trial2">
                <h3>1. Start trial&nbsp;<small>Step 2 of 2 - Enter key</small></h3>
                <p>The Trial Key was send to your email address. Please check your inbox and your spam folder...<br /><b>Enter the Trial Key in the field below:</b></p>
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <label class="control-label sr-only" for="trialCode">Key</label>
                        <div>
                            <input type="text" class="form-control" id="trialCode" placeholder="Enter the trial key">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-success submit">
                                <i class="fa fa-refresh fa-spin" style="display: none;"></i>&nbsp;Start trial&nbsp;
                            </button>
                            <button class="btn btn-link resend">Resend the key</button>
                        </div>
                    </div>
                </form>
                <p class="text-danger">Form help block</p>
            </section>
            <section class="intro-section-buy-new">
                <h3 class="trial-activated">2. Buy Pinegrow&nbsp;</h3>
                <div>
                    <p class="buy-text">Buy a copy of Pinegrow for yourself and <b>then input your serial code below (3).</b> Your purchase is protected by our 30 days moneyback guarantee.</p>
                    <p><a type="button" class="btn btn-default btn-success" href="http://pinegrow.com/#buy">&nbsp;&nbsp;Buy Now&nbsp;&nbsp;</a></p>
                </div>
            </section>
            <section class="intro-section-buy-upgrade">
                <h3 class="trial-activated">2. Upgrade to PRO or buy WordPress add-on</h3>
                <div>
                    <p>Buy the upgrade and <b>then input your serial code below (3).</b></p>
                    <p><a type="button" class="btn btn-default btn-success" href="http://pinegrow.com/upgrade-to-wp.html">&nbsp;&nbsp;Upgrade&nbsp;&nbsp;</a></p>
                </div>
            </section>
            <section class="intro-section-buy">
                <h3 class="trial-activated">3. Enter your serial code after buying or upgrading Pinegrow</h3>
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="trial-in-buy-note"><em><b>Note, if you want to enter the key to start trial, use the form 1. Start trial.</b></em></p>
                            <p>Enter your email address (the same you used to make the payment) and the serial code that you received at the end of the payment process:</p>
                            <form role="form" class="form-inline">
                                <div class="form-group">
                                    <label class="control-label sr-only" for="buyEmail">Email address</label>
                                    <div>
                                        <input type="text" class="form-control intro-inline-input" id="buyEmail" placeholder="Enter email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label sr-only" for="buySerial">Serial code</label>
                                    <div>
                                        <input type="text" class="form-control" id="buySerial" placeholder="Serial code">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <button type="submit" class="btn btn-success">
                                            <i class="fa fa-refresh fa-spin" style="display: none;"></i>&nbsp;Activate&nbsp;
                                        </button>
                                        <a class="btn btn-link forgot-serial external" href="http://shop.pinegrow.com/mylicences">Forgot the serial code?</a>
                                    </div>
                                </div>
                            </form>
                            <p class="text-danger">Form help block</p>
                            <p class="manual-act">Do <a href="#" class="manual">Manual activation</a>.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section style="display:none;">
                <h3>See how you can save time with Pinegrow </h3>
                <p>Pinegrow has a lot of useful tricks. Some are obvious, some less. The best way to learn is to <a href="http://pinegrow.com/#features">see it in action</a>.</p>
            </section>
        </div>
        <div class="modal-footer">
            <p class="text-center"><button type="button" class="btn btn-default cancel btn-primary">&nbsp; &nbsp; &nbsp;Start using Pinegrow &nbsp; &nbsp;&nbsp;</button></p>
        </div>
    </div>
</div>