<div class="modal-dialog" data-pg-component="dialog-email-serial">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" style="color: rgba(255, 255, 255, 0.85);font-weight: normal;line-height: 1.33;">License check</h4>
        </div>
        <div class="modal-body">

            <section>
                <p class="lead ">Sorry to bother you! We need to check your license to see if you can use this release of Pinegrow.</p>
            </section>

            <section class="intro-section-buy">

                <h3 class="trial-activated hide">Enter your serial code</h3>
                <div>

                    <div class="row">

                        <div class="col-sm-12">
                            <p class="hide">Older versions of Pinegrow were silly and forgot to remember your license email &amp; serial code when you activated the app. And now we need this info to check if you can use this new version of Pinegrow for free (if it falls within one year since your purchase or license renewal).</p>
                            <p>Please enter your license email &amp; serial code and click on "Check the License" to proceed:</p>

                            <form role="form" class="form-inline">
                                <div class="form-group">
                                    <label class="control-label sr-only" for="buyEmail">Email address</label>
                                    <div>
                                        <input type="text" class="form-control intro-inline-input" id="buyEmail" placeholder="Enter email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label sr-only" for="buySerial">Serial code</label>
                                    <div>
                                        <input type="text" class="form-control" id="buySerial" placeholder="Serial code">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <button type="submit" class="btn btn-success"><i class="fa fa-refresh fa-spin" style="display: none;"></i>&nbsp;Check the License&nbsp;</button>
                                        <a class="btn btn-link forgot-serial external" href="http://shop.pinegrow.com/mylicences">Forgot the serial code?</a>
                                    </div>
                                </div>
                            </form>
                            <p class="text-danger"></p>
                            <p class="manual-act"><a href="#" class="manual"><b>Do Manual activation</b></a>.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="renew">

                <h3 class="trial-activated">The period of free updates ended!</h3>
                <div>
                    <p>The one year free updates period for your license ended on <b><span class="valid-date">DATE</span></b>. The last Pinegrow version that you can use with your license is <b class="last-version">2.01</b> (<a class="external" href="http://docsbeta.pinegrow.com/misc/download-older-versions">downgrade to <span class="last-version"></span></a>).</p>
                    <p><b>That's not a problem! You can get another year of updates for half the price of the new license</b>.</p>
                    <p><a class="btn btn-default btn-success external renew-link" href="http://pinegrow.com/renew.html">&nbsp;&nbsp;Renew Now &amp; Get another year of updates&nbsp;&nbsp;</a>
                    </p>
                    <p class="wp">A TIP: <a href="http://pinegrow.com/upgrade-to-wp.html"">Upgrading to the WordPress edition</a> will also get you a fresh year of free updates.</p>
                </div>
            </section>

        </div>
        <div class="modal-footer">
            <p class="text-center">
                <button type="button" class="btn btn-default cancel btn-primary">&nbsp;Skip this and use Pinegrow in trial mode&nbsp;</button>
            </p>

        </div>
    </div>
</div>