<div class="row">
    <div class="col-md-9">
        <div class="poster">
            <h3 style="margin-top:0px;">Pinegrow 2.951</h3>
            <p>Bug fix: Pinegrow occasionally freezes when entering into the Edit code mode.</p>
            <h3>Pinegrow 2.95</h3>
            <p>
        Useful improvements and bug fixes:</p>
            <ul>
                <li>
                    <b>Status bar</b> with path to the selected element that lets you easily select any of the element's parents.
                </li>
                <li>
                    <b>ASP, ASPX and ERB template editing</b> in addition to PHP.
                </li>
                <li>
                    <b>
Improved backup.</b>&nbsp;Keep 20 revisions of any saved file and auto-delete older versions.
                </li>
                <li>
                    <b>
Edit files without extension.</b> To enable that list "NOEXT" among editable file types in Support -&gt; Settings.
                </li>
                <li>Bug fixes.</li>
            </ul>
            <p>See <a class="external" href="http://docs.pinegrow.com/release-notes/release-2-95-27-october-2016">release notes</a> for details.</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="poster">
            <p style="margin-bottom:10px;font-size:12px;" class="text-muted">Pinegrow 2.93:</p>
            <h4>Pinegrow CMS</h4>
            <p>No server code. No APIs. No generators. Just HTML.</p>
            <p><a class="external" href="http://docs.pinegrow.com/editing/pinegrow-cms-for-static-html-websites">Learn more »</a></p>
            <hr>
            <p style="margin-bottom:10px;font-size:12px;margin-top:20px;" class="text-muted">Pinegrow 2.9:</p>
            <img src="images/pinegrow_atom_logos.png" width="200" style="line-height: 1.42857143;" class="img-responsive">
            <p style="margin-top:10px;"><a class="external abtn abtn-primary abtn-sm" href="http://pinegrow.com/pinegrow-atom.html">Use Atom with Pinegrow »</a></p>
        </div>
    </div>
</div>